.theHeader{
  background-color: #F62A00; 
  color: #F1F3CE; 
  height: 80px; 
  width: 100%; 
  text-align: center;
  vertical-align: center;
}  

.theBody{
  margin-top: 80px;
}

.theFooter{
  background-color: black; 
  color: white; 
  height: 50px; 
  text-align: center;
}

body{
  background-color: #505160
}  
