.theHeader{
  background-color: #598234; 
  color: #F1F3CE; 
  height: 80px; 
  width: 100%; 
  text-align: center;
  vertical-align: center;
}  

.theBody{
  margin-top: 80px;
}

.theFooter{
  background-color: #598234; 
  color: white; 
  height: 50px; 
  text-align: center;
}

.thePiece(
  background-color: AEBD38;
  margin-top: 15px;
}

body{
  background-color: #505160;
}  
